<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp from="smtp://cornelius.quitzon@ethereal.email:STKf22XBpn5hUv5rC4@smtp.ethereal.email:587">
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
